.auth-container {
    .column {
        flex-direction: column;

        .logo {
            width: 50%;
        }

        .panel {
            width: 100%;
            background-color: #ffffff;
            padding: 2rem;
            margin-top: 3rem;

            .form-actions {
                margin-top: 2.5rem;
            }
        }

        .action-links {
            width: 100%;

            p {
                line-height: 2rem;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
